.change_password {
    margin: 0 0 0 20%;
    
}
form h2 {
    width: 270px;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    float: left;
    margin: 40px 0 0 0;
    text-align: right;
}
form input {
    width: 30%;
    height: 30px;
    outline: none;
    border-style: none;
    background: none;
    border-bottom: 3px solid black;
    margin: 40px 0 0 40px;
    padding-left: 20px;
}
::-webkit-input-placeholder {
    color:black;
    letter-spacing: 5px;
}