*{
    margin: 0;
}
body{
    margin: 0;
    min-width: 1200px;
    background: linear-gradient(60deg, #4adc71 50%,#3ba666 50%);
    background-repeat: no-repeat;
}
table{
    width: 90%;
    
}
table, td,th{
    border: 3px solid black;
    border-collapse: collapse;
    padding: 10px;
    
    background: rgba(0, 0, 0, 0.274);
}
